body {
    box-sizing: border-box;
    background-color: rgb(35, 51, 51);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

button {
  text-align: center;
  margin: 20px 10px;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgb(208, 208, 208) 100%);
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  
}
button:active {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
#toggle {
    text-align: center;
    margin: 20px 10px;
    text-transform: uppercase;
    width: 190px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    
    text-decoration: none;
    color: black;
    border: 1px solid black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;
}
.red {
    background: rgb(255, 24, 24);
    background: linear-gradient(to bottom, rgb(247, 114, 114) 0%, rgb(143, 17, 17) 100%);
    
}
.green {
    background: rgb(56, 143, 53);
    background: linear-gradient(to bottom, rgb(120, 177, 87) 0%, rgb(32, 82, 30) 100%);
}
.stopwatch {
    margin: auto;
    width: 400px;
    height: auto;
    background-color: black;
    color: darkturquoise;
    border: 10px solid rgb(182, 211, 211);
    border-radius: 10px;
    font-size: 65px;
    text-align: center;
    padding: 20px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    line-height: 45px;
}

.results-tbl {
    margin: auto;
    background-color: aliceblue;
    width: 160px;
    height: auto;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    text-align: center;
    list-style: none;
}